astroid==2.3.3
cachetools==1.1.6
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
decorator==4.4.1
django-key==0.5.0
fake-useragent==0.1.11
html2text==2020.1.16
idna==2.7
isort==4.3.21
jieba==0.39
key==0.4
lazy-object-proxy==1.4.3
logger==1.4
mccabe==0.6.1
pbr==3.1.1
public==2019.4.13
pylint==2.4.4
pyTelegramBotAPI==3.6.6
requests==2.20.0
self==2019.4.13
simplejson==3.17.0
six==1.13.0
tornado==4.2.1
urllib3==1.24.3
wrapt==1.11.2
